<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
    <object class="wxFrame" name="MainFrame">
        <title>MBS - Army Knife</title>
        <centered>1</centered>
        <style>wxCAPTION|wxTHICK_FRAME|wxSYSTEM_MENU|wxRESIZE_BOX|wxCLOSE_BOX|wxMINIMIZE_BOX</style>
        <bg>wxSYS_COLOUR_BTNFACE</bg>
        <object class="wxBoxSizer" variable="BoxSizer1" member="yes">
            <orient>wxVERTICAL</orient>
            <object class="sizeritem">
                <object class="wxNotebook" name="ID_NOTEBOOK1" variable="Notebook1" member="yes">
                    <style>wxNB_BOTTOM|wxNB_MULTILINE</style>
                    <size>379,351</size>
                    <object class="notebookpage">
                        <object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
                            <size>390,282</size>
                            <object class="wxBoxSizer" variable="BoxSizer4" member="yes">
                                <orient>wxVERTICAL</orient>
                                <object class="sizeritem">
                                    <object class="wxBoxSizer" variable="BoxSizer3" member="yes">
                                        <object class="sizeritem">
                                            <object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="eval" member="yes">
                                                <style>wxTE_MULTILINE|wxTE_READONLY</style>
                                                <size>297,252</size>
                                            </object>
                                            <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                            <option>1</option>
                                        </object>
                                        <object class="sizeritem">
                                            <object class="wxBoxSizer" variable="BoxSizer13" member="yes">
                                                <orient>wxVERTICAL</orient>
                                                <object class="sizeritem">
                                                    <object class="wxStaticBoxSizer" variable="StaticBoxSizer9" member="yes">
                                                        <label>Output</label>
                                                        <object class="sizeritem">
                                                            <object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
                                                                <label>Decimal places:</label>
                                                            </object>
                                                            <flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                                        </object>
                                                        <object class="sizeritem">
                                                            <object class="wxSpinCtrl" name="ID_SPINCTRL2" variable="CalculatorDecPlaces" member="yes">
                                                                <value>2</value>
                                                                <size>44,21</size>
                                                            </object>
                                                            <flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                                        </object>
                                                    </object>
                                                    <flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                                </object>
                                            </object>
                                            <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                        </object>
                                    </object>
                                    <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                    <option>1</option>
                                </object>
                                <object class="sizeritem">
                                    <object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="command" member="yes">
                                        <style>wxTE_PROCESS_ENTER</style>
                                        <focused>1</focused>
                                        <handler function="OnTextCtrl3TextEnter" entry="EVT_TEXT_ENTER" />
                                    </object>
                                    <flag>wxALL|wxEXPAND|wxALIGN_BOTTOM|wxALIGN_CENTER_HORIZONTAL</flag>
                                </object>
                            </object>
                        </object>
                        <label>Calculator</label>
                    </object>
                    <object class="notebookpage">
                        <object class="wxPanel" name="ID_PANEL4" variable="Panel4" member="yes">
                            <object class="wxBoxSizer" variable="BoxSizer5" member="yes">
                                <orient>wxVERTICAL</orient>
                                <object class="sizeritem">
                                    <object class="wxBoxSizer" variable="BoxSizer7" member="yes">
                                        <object class="sizeritem">
                                            <object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
                                                <label>Input file:</label>
                                                <size>48,13</size>
                                            </object>
                                            <flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                        </object>
                                        <object class="sizeritem">
                                            <object class="wxTextCtrl" name="ID_TEXTCTRL4" variable="SplitFilename" member="yes">
                                                <size>180,21</size>
                                            </object>
                                            <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                            <option>1</option>
                                        </object>
                                        <object class="sizeritem">
                                            <object class="wxButton" name="ID_BUTTON5" variable="SplitOpenFile" member="yes">
                                                <label>...</label>
                                                <size>33,23</size>
                                                <handler function="OnSplitOpenFileClick" entry="EVT_BUTTON" />
                                            </object>
                                            <flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                        </object>
                                    </object>
                                    <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                    <border>2</border>
                                </object>
                                <object class="sizeritem">
                                    <object class="wxBoxSizer" variable="BoxSizer8" member="yes">
                                        <object class="sizeritem">
                                            <object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
                                                <label>Part size:</label>
                                            </object>
                                            <flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                        </object>
                                        <object class="sizeritem">
                                            <object class="wxTextCtrl" name="ID_TEXTCTRL9" variable="SplitPartsize" member="yes">
                                                <size>114,21</size>
                                            </object>
                                            <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                        </object>
                                        <object class="sizeritem">
                                            <object class="wxComboBox" name="ID_COMBOBOX1" variable="SplitPartsizeMult" member="yes">
                                                <content>
                                                    <item>kB</item>
                                                    <item>MB</item>
                                                </content>
                                                <style>wxCB_READONLY</style>
                                            </object>
                                            <flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                        </object>
                                        <object class="sizeritem">
                                            <object class="wxButton" name="ID_BUTTON6" variable="SplitGo" member="yes">
                                                <label>Go</label>
                                                <size>39,23</size>
                                                <handler function="OnSplitGoClick" entry="EVT_BUTTON" />
                                            </object>
                                            <flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                        </object>
                                    </object>
                                    <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                    <border>2</border>
                                </object>
                                <object class="sizeritem">
                                    <object class="wxTextCtrl" name="ID_TEXTCTRL8" variable="SplitLog" member="yes">
                                        <style>wxTE_MULTILINE|wxTE_READONLY</style>
                                    </object>
                                    <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                    <border>2</border>
                                    <option>1</option>
                                </object>
                            </object>
                        </object>
                        <label>Split</label>
                    </object>
                    <object class="notebookpage">
                        <object class="wxPanel" name="ID_PANEL6" variable="Panel6" member="yes">
                            <object class="wxBoxSizer" variable="BoxSizer9" member="yes">
                                <orient>wxVERTICAL</orient>
                                <object class="sizeritem">
                                    <object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="yes">
                                        <label>Calendar</label>
                                        <orient>wxVERTICAL</orient>
                                        <object class="sizeritem">
                                            <object class="wxCalendarCtrl" name="ID_CALENDARCTRL2" variable="CalendarCtrl2" member="yes">
                                                <style>wxCAL_SHOW_HOLIDAYS|wxCAL_SHOW_SURROUNDING_WEEKS</style>
                                                <size>174,137</size>
                                            </object>
                                            <flag>wxALL|wxALIGN_LEFT|wxALIGN_TOP</flag>
                                            <border>5</border>
                                        </object>
                                        <object class="sizeritem">
                                            <object class="wxBoxSizer" variable="BoxSizer10" member="yes">
                                                <object class="sizeritem">
                                                    <object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
                                                        <label>Time:</label>
                                                    </object>
                                                    <flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                                </object>
                                                <object class="sizeritem">
                                                    <object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="CalendarTime" member="yes">
                                                        <value>Not yet...</value>
                                                        <style>wxTE_READONLY</style>
                                                        <enabled>0</enabled>
                                                    </object>
                                                    <flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                                    <option>1</option>
                                                </object>
                                                <object class="sizeritem">
                                                    <object class="wxButton" name="ID_BUTTON2" variable="CalendarCalcTimet" member="yes">
                                                        <label>Calculate time_t</label>
                                                        <size>84,23</size>
                                                        <handler function="OnCalendarCalcTimetClick" entry="EVT_BUTTON" />
                                                    </object>
                                                    <flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                                </object>
                                            </object>
                                            <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                        </object>
                                    </object>
                                    <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                </object>
                                <object class="sizeritem">
                                    <object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="yes">
                                        <label>time_t</label>
                                        <object class="sizeritem">
                                            <object class="wxBoxSizer" variable="BoxSizer2" member="yes">
                                                <object class="sizeritem">
                                                    <object class="wxTextCtrl" name="ID_TEXTCTRL7" variable="CalendarTimet" member="yes" />
                                                    <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                                    <option>1</option>
                                                </object>
                                                <object class="sizeritem">
                                                    <object class="wxButton" name="ID_BUTTON3" variable="CalendarCalcDT" member="yes">
                                                        <label>Calculate Date</label>
                                                        <size>82,23</size>
                                                        <handler function="OnCalendarCalcDTClick" entry="EVT_BUTTON" />
                                                    </object>
                                                    <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                                </object>
                                            </object>
                                            <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                            <option>1</option>
                                        </object>
                                    </object>
                                    <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                </object>
                            </object>
                        </object>
                        <label>Calendar</label>
                    </object>
                    <object class="notebookpage">
                        <object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes">
                            <object class="wxBoxSizer" variable="BoxSizer6" member="yes">
                                <orient>wxVERTICAL</orient>
                                <object class="sizeritem">
                                    <object class="wxStaticBoxSizer" variable="StaticBoxSizer3" member="yes">
                                        <label>Input file</label>
                                        <object class="sizeritem">
                                            <object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
                                                <label>File:</label>
                                            </object>
                                            <flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                        </object>
                                        <object class="spacer">
                                            <flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                        </object>
                                        <object class="sizeritem">
                                            <object class="wxTextCtrl" name="ID_TEXTCTRL5" variable="MD4Filename" member="yes" />
                                            <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                            <option>1</option>
                                        </object>
                                        <object class="sizeritem">
                                            <object class="wxButton" name="ID_BUTTON1" variable="MD4OpenFile" member="yes">
                                                <label>...</label>
                                                <size>32,23</size>
                                                <focused>1</focused>
                                                <handler function="OnMD4OpenFileClick" entry="EVT_BUTTON" />
                                            </object>
                                            <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                        </object>
                                        <object class="sizeritem">
                                            <object class="wxButton" name="ID_BUTTON4" variable="MD4Calc" member="yes">
                                                <label>Go</label>
                                                <size>32,23</size>
                                                <handler function="OnMD4CalcClick" entry="EVT_BUTTON" />
                                            </object>
                                            <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                        </object>
                                    </object>
                                    <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                </object>
                                <object class="sizeritem">
                                    <object class="wxStaticBoxSizer" variable="StaticBoxSizer4" member="yes">
                                        <label>Log</label>
                                        <object class="sizeritem">
                                            <object class="wxTextCtrl" name="ID_TEXTCTRL6" variable="MD4Result" member="yes">
                                                <style>wxTE_MULTILINE|wxTE_READONLY</style>
                                                <size>169,21</size>
                                            </object>
                                            <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                            <option>1</option>
                                        </object>
                                    </object>
                                    <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                    <option>1</option>
                                </object>
                            </object>
                        </object>
                        <label>MD4</label>
                    </object>
                    <object class="notebookpage">
                        <object class="wxPanel" name="ID_PANEL3" variable="Panel3" member="yes">
                            <object class="wxBoxSizer" variable="BoxSizer11" member="yes">
                                <orient>wxVERTICAL</orient>
                                <object class="sizeritem">
                                    <object class="wxStaticBoxSizer" variable="StaticBoxSizer5" member="yes">
                                        <label>Process</label>
                                        <object class="sizeritem">
                                            <object class="wxBoxSizer" variable="BoxSizer12" member="yes">
                                                <object class="sizeritem">
                                                    <object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
                                                        <label>File:</label>
                                                        <size>20,12</size>
                                                    </object>
                                                    <flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                                </object>
                                                <object class="sizeritem">
                                                    <object class="wxTextCtrl" name="ID_TEXTCTRL10" variable="RespawnFileName" member="yes" />
                                                    <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                                    <option>1</option>
                                                </object>
                                                <object class="sizeritem">
                                                    <object class="wxButton" name="ID_BUTTON7" variable="RespawnOpen" member="yes">
                                                        <label>...</label>
                                                        <size>34,23</size>
                                                        <handler function="OnRespawnOpenClick" entry="EVT_BUTTON" />
                                                    </object>
                                                    <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                                </object>
                                                <object class="spacer">
                                                    <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                                    <size>16,20</size>
                                                </object>
                                                <object class="sizeritem">
                                                    <object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
                                                        <label># of times:</label>
                                                    </object>
                                                    <flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                                </object>
                                                <object class="sizeritem">
                                                    <object class="wxSpinCtrl" name="ID_SPINCTRL1" variable="RespawnNumber" member="yes">
                                                        <value>0</value>
                                                        <size>51,23</size>
                                                    </object>
                                                    <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                                </object>
                                                <object class="sizeritem">
                                                    <object class="wxButton" name="ID_BUTTON8" variable="RespawnGo" member="yes">
                                                        <label>Go</label>
                                                        <size>36,23</size>
                                                        <handler function="OnRespawnGoClick" entry="EVT_BUTTON" />
                                                    </object>
                                                    <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                                </object>
                                            </object>
                                            <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                            <option>1</option>
                                        </object>
                                    </object>
                                    <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                </object>
                                <object class="sizeritem">
                                    <object class="wxStaticBoxSizer" variable="StaticBoxSizer6" member="yes">
                                        <label>Log</label>
                                        <object class="sizeritem">
                                            <object class="wxTextCtrl" name="ID_TEXTCTRL11" variable="RespawnLog" member="yes">
                                                <style>wxTE_MULTILINE|wxTE_READONLY</style>
                                            </object>
                                            <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                            <option>1</option>
                                        </object>
                                    </object>
                                    <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                    <option>1</option>
                                </object>
                            </object>
                        </object>
                        <label>Respawn</label>
                    </object>
                    <object class="notebookpage">
                        <object class="wxPanel" name="ID_PANEL5" variable="Panel5" member="yes">
                            <object class="wxBoxSizer" variable="BoxSizer14" member="yes">
                                <orient>wxVERTICAL</orient>
                                <object class="sizeritem">
                                    <object class="wxStaticBoxSizer" variable="StaticBoxSizer7" member="yes">
                                        <label>Log</label>
                                        <object class="sizeritem">
                                            <object class="wxTextCtrl" name="ID_TEXTCTRL13" variable="TextCtrl13" member="yes">
                                                <value>nao implementado ainda</value>
                                                <style>wxTE_MULTILINE|wxTE_READONLY</style>
                                            </object>
                                            <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                            <option>1</option>
                                        </object>
                                    </object>
                                    <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                    <option>1</option>
                                </object>
                                <object class="sizeritem">
                                    <object class="wxStaticBoxSizer" variable="StaticBoxSizer8" member="yes">
                                        <label>Server</label>
                                        <object class="sizeritem">
                                            <object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
                                                <label>Port:</label>
                                                <size>30,13</size>
                                            </object>
                                            <flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                        </object>
                                        <object class="spacer">
                                            <flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                        </object>
                                        <object class="sizeritem">
                                            <object class="wxTextCtrl" name="ID_TEXTCTRL12" variable="TextCtrl12" member="yes">
                                                <size>85,23</size>
                                            </object>
                                            <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                        </object>
                                        <object class="spacer">
                                            <flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                        </object>
                                        <object class="sizeritem">
                                            <object class="wxButton" name="ID_BUTTON10" variable="Button10" member="yes">
                                                <label>Go</label>
                                            </object>
                                            <flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                        </object>
                                        <object class="spacer">
                                            <flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                        </object>
                                        <object class="sizeritem">
                                            <object class="wxComboBox" name="ID_COMBOBOX2" variable="ComboBox2" member="yes">
                                                <content>
                                                    <item>Echo</item>
                                                    <item>Silent</item>
                                                </content>
                                            </object>
                                            <flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                        </object>
                                    </object>
                                    <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                                </object>
                            </object>
                        </object>
                        <label>Echo Server</label>
                    </object>
                    <object class="notebookpage">
                        <object class="wxPanel" name="ID_PANEL7" variable="Panel7" member="yes" />
                        <label>TCP Connect</label>
                    </object>
                    <object class="notebookpage">
                        <object class="wxPanel" name="ID_PANEL8" variable="Panel8" member="yes" />
                        <label>Shutdown</label>
                    </object>
                </object>
                <flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
                <option>1</option>
            </object>
        </object>
    </object>
</wxsmith>
